# Version control
.git
.gitignore

# Dependencies
**/node_modules
**/.pnp
.pnp.js

# Environment and config
**/.env
**/.env*.local
**/secrets.dev.yaml
**/values.dev.yaml
**/docker-compose*
**/compose.y*ml
**/charts

# IDE and editor files
**/.vs
**/.vscode
**/.idea
**/.settings
**/.project
**/.toolstarget
**/.classpath
**/*.*proj.user
**/*.dbmdl
**/*.jfm

# Debug logs
**/npm-debug.log
**/.pnpm-debug.log*

# Cache and temp
**/.cache
**/public/uploads

# Documentation and meta
LICENSE
README.md
CHANGELOG.md

# Docker
**/.dockerignore
**/Dockerfile*
**/Makefile

# System files
**/.DS_Store
*.pem
