# Since the ".env" file is gitignored, you can use the ".env.example" file to
# build a new ".env" file when you clone the repo. Keep this file up-to-date
# when you add new variables to `.env`.

# This file will be committed to version control, so make sure not to have any
# secrets in it. If you are cloning this repo, create a copy of this file named
# ".env" and populate it with your secrets.

# When adding additional environment variables, the schema in "/src/env.js"
# should be updated accordingly.

# Server
ANALYZE=""
GIT_COMMIT_HASH=""

# Client
NEXT_PUBLIC_URL=""
NEXT_PUBLIC_BRAND=""
NEXT_PUBLIC_NODE_ENV=""
NEXT_PUBLIC_GIT_COMMIT_HASH=""

# UploadThing
UPLOADTHING_TOKEN=""
NEXT_PUBLIC_UPLOADTHING_APP_ID=""

# Analytics (PostHog)
NEXT_PUBLIC_POSTHOG_KEY=""
NEXT_PUBLIC_POSTHOG_HOST=""

# Auth (Clerk)
CLERK_SECRET_KEY=""                      # Secret key for Clerk
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=""     # Publishable key for Clerk

# Database (PlanetScale)
DATABASE_HOST=""                         # Database host
DATABASE_URL=""                          # Database URL
DATABASE_USERNAME=""                     # Database username
DATABASE_PASSWORD=""                     # Database password

# Database Management (pgAdmin)
PGADMIN_EMAIL=""                        # Admin email for pgAdmin login
PGADMIN_PASSWORD=""                     # Admin password for pgAdmin login